body {
    background-size: cover;
    font-family: cursive;
}

.heading {
   color: rgb(114, 27, 227);
    
    font-size: 35px;
    letter-spacing: 3px;
    font-family: Georgia;
    font-weight: bold;
}


label {
    font-family: georgia;
    font-size: 20px;
    color: rgb(4, 60, 67);
}